body {
    margin: 0;
    
  }
  html,body{
    height: 100%;
  }
  
  #regdiv {
    background-size: cover  ;
    background-image: url(https://www.teahub.io/photos/full/256-2569980_movie-theater-inside.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  main {
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: ridge;
    height: 700px;
    background-color: rgba(255,254,222,0.6);
  }
 
    h2 {
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        
      }
    
      h3{
        font-weight: 100;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
      }
      
      p {
        margin: 0.3em;
        margin-bottom: 15px;
      }
      
      label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        
      }
    
      
      input {
        margin-left: 0.5em;
      }

      #title{
        padding: 15px;
      }
      .accedi{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        text-align: center;
      }
      .errore{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:red;
        opacity: 1;
      }
      
      form{
        margin-bottom: 0;
      }
      
      form span{
        opacity: 0;
      }
    
      @media (max-width: 600px) {
        
        #title{
          max-width: 80%;
        }
        
        
      } 
    
      @media (max-width: 350px) {

        main{
          width: 100%;
        }
        
        input{
          width: 100%;
        }
      } 
  